

body {
    margin: 0;
    padding: 0;
}

.home-center {
    margin-top: 5%;
    text-align: center;
}

.home-input {
    margin-right: 20px;
    margin-bottom: 30px;
}

.home-error {
     color: red;
     font-weight: bold;
     font-size: 14px;
}

.home-reconnectMsg {
    color : blue;
}

.home-reconnectMsg:hover {
     cursor: pointer;
     transform: scale(1.1);
}

.play-messageList {
     height: 40%;
     width: 50%;
     border-width: 3px;
     border-color: black;
     position: fixed;
     bottom: 43px;
     margin-left: 5px;
     overflow-y: scroll;
     word-break: break-all;
}

.play-messageBox {
     width: 50%;
     height: 40px;
     outline: none;
     border-width: 3px;
     border-color: black;
     position: fixed;
     bottom: 0;
     margin-left: 5px;
}

.play-messageBox::-webkit-scrollbar {
    display: none;
}
  

.play-playerList {
    border-width: 3px;
    border-color: black;
    border-style: solid;
    width: 30%;
    height: 45%;
    max-height: 400px;
    max-width: 400px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    overflow-y: scroll;
}

.play-playerList::-webkit-scrollbar {
    display: none;
  }
  

.play-playerInPlayerList {
    width: 100%;
    padding-left: 10px;
    padding-top: 3px;
    height: 35px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: black;
}

.play-playerInPlayerList p {
    display: inline-block;
}

.play-playerInPlayerList:last-of-type {
    width: 100%;
    border: none;
}

.play-graveyardBox {
    border-width: 3px;
    border-color: black;
    border-style: solid;
    width: 350px;
    height: 400px;
    max-width: 400px;
    position: fixed;
    top: 5px;
    left: 0px;
    display: inline-block;
    overflow-y: scroll;
}


.play-graveyardBox::-webkit-scrollbar {
    display: none;
  }
  

.play-rolelistBox {
    border-width: 3px;
    border-color: black;
    border-style: solid;
    width: 25%;
    max-width: 250px;
    max-height: 400px;
    height: 400px;
    position: fixed;
    top: 5px;
    left: 360px;
    display: inline-block;
    overflow-y: scroll;
}


.play-rolelistBox::-webkit-scrollbar {
    display: none;
  }
  

.play-rolelistSlot {
    font-size: 14px;
    width: 100%;
    border: none;
    padding-left: 5px;
}

.play-actionButton {
    font-size: 12px;
    border: none;
    outline: none;
    padding-left: 5px;
    margin-left: 5px;
}

.play-playerBadge {
    font-size: 10px;
    border: none;
    outline: none;
    padding: 3px 3px 3px 3px;
    background-color: lightgray;
    margin-left: 5px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.play-time {
    position: fixed;
    top: 5px;
    left: 620px;
    font-size: 24px;
    font-weight: bold;
}

@media only screen and (min-height: 300px) and (max-height: 800px) and (orientation:landscape) {

     .play-playerInPlayerList {
         font-size: 12px;
     }

     .play-graveyardBox {
         height: 170px;
     }

     .play-rolelistBox {
        height: 170px;
     }

}

@media only screen and (min-width: 300px) and (max-width: 650px) {
    .play-playerInPlayerList {
        font-size: 12px;
    }

    .play-graveyardBox {
        width: 200px;
    }

    .play-rolelistBox {
       left: 210px;
    }

    .play-time {
        left: 400px;
    }
}